<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'productdisplaypage' %}" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Admin Details</h4>
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>

                            <th> category </th>
                            <th> product Name</th>
                              <th> Product Quantity</th>
                              <th> Product price</th>
                                <th> Product image</th>
                          </tr>
                        </thead>
<!--                      -->
                          <tbody>
                          {% for d in data %}
                          <tr>
                              <td>{{d.category}}</td>
                              <td>{{d.pname}}</td>
                              <td>{{d.pquantity}}</td>
                              <td>{{d.price}}</td>
                              <td><img src="{{d.image.url}}"></td>
                                <td>
                                  <form action="{% url 'producteditpage' dataid=d.id %}">
                                      <button type="submit" class="btn btn-primary mr-2">Edit</button>
                                  </form>
                              </td>
                              <td>
                                  <form action="{% url 'deleteproduct' dataid=d.id %}">
                                      <button type="submit" class="btn btn-primary mr-2">Delete</button>
                                  </form>
                              </td>


                          </tr>
                          {% endfor %}
                          </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
</form>

</body>
</html>
{% endblock %}